<div class="entry">
    {{#each this}}
    <div class="mt2 pv1 bb b--black-10 mb3">
      <a class="f3 flex-ns items-center no-underline black-70 hover-light-red" href="{{this.url}}">
        <span class="pv0-ns pv1 lh-copy db">{{this.title}}</span>
      </a>
      <p class="f5-ns f6 fw3 mt3 mb4 lh-copy mid-gray">{{this.summary}}...</p>
    </div>
    {{/each}}
</div>