---
---

// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "tachyons",
    "syntax",
    "comments"
;

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 85%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.top-nav {
    box-shadow:4px 4px 8px 0 rgba(0,0,0,.05);
}

.hover-shadow-5:hover {
    box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.2);
    transition: box-shadow 0.10s ease-out;
}

.hover-b--light-red:hover {
    border-color: #FF725C;
    transition: border-left 0.10s ease-out;
}

.post-content > p a, .post-content > p a:visited, .post-content > p a:active, .post-content > p a:hover,
.post-content > table a, .post-content > table a:visited, .post-content > table a:active, .post-content > table a:hover,
.post-content > ol a, .post-content > ol a:visited, .post-content > ol a:active, .post-content > ol a:hover,
.post-content > ul a, .post-content > ul a:visited, .post-content > ul a:active, .post-content > ul a:hover {
    color: #FF725C;
    text-decoration: none;
}

.post-content > blockquote > p >  a, .post-content > blockquote > p > a:visited, .post-content > blockquote > p > a:active {
    color: currentColor;
}

.post-content small > i {
    display: block;
}

.post-content blockquote {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.75em -2.2em 1.75em -2.2em;
    padding: .1em 2.2em .1em 1.75em;
    border-radius: 5px;
}

.post-content blockquote p {
     margin: 0.8em 0;
     font-style: italic;
}

.post-content code.highlighter-rouge {
    padding: 0px 2px;
    margin: 0 3px;
    font-size: 0.85em;
    border: #FFDFDF 3px solid;
    background-color: #FFDFDF;
    border-radius: 2px;
    font-weight: 600;
    color: #555555;
    box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.2);
}

.post-content img {
    margin-top: 5px;
    display: block;
    margin: 0 auto;
}

.post-content img.oversized {
    width: 152%;
    max-width: none;
    margin: 0 -26%;
    display: inline;
}

.post-content .video.oversized {
    width: 150%;
    margin: 0 -25%;
}

.post-content .video.oversized.landscape {
    width: 182%;
    margin: 0 -41%;
}

.post-content .video.oversized iframe {
    width: 100%;
}

.post-content .video.oversized.landscape iframe {
    height: 600px;
    border-radius: 10px;
}

.crag-weather {
    width: 114%;
    max-width: none;
    margin: 0 -7%;
    margin-top: 5px;
}

.post-content div.highlighter-rouge {
    margin: 1.75em -13em 1.75em -13em;
    border-radius: 10px;
    box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.2);
}

.post-content pre code, .post-content tt {
    background: transparent;
    border: none;
    padding: 0;
}

.post-content pre {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0 1.75em 0;
    width: 100% ;
    padding: 1.5em 5em;
    font-size: .85em;
    overflow: visible;
    border-radius: 10px;
    overflow-x: auto;
}

ul.list li a span, .rslide {
    display: block;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

ul.list li:hover a span, .rslide:hover {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}

::selection {
    color:#ffffff;
    background: #FF725C;
}
::-moz-selection {
    color:#ffffff;
    background: #FF725C;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba( 0, 0, 0, .2 );
}
::-moz-placeholder { /* Firefox 19+ */
    color: rgba( 0, 0, 0, .2 );
}
:-ms-input-placeholder { /* IE 10+ */
    color: rgba( 0, 0, 0, .2 );
}
:-moz-placeholder { /* Firefox 18- */
    color: rgba( 0, 0, 0, .2 );
}

.clip-svg {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}

.post-content table {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.75em 0;
    width: 100% ;
    max-width: 100% ;
    background-color: transparent;
    border-collapse: collapse;
}

.post-content table th,
.post-content table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: #EFEFEF 1px solid;
}

.post-content table th {
    color: #000;
}

.post-content table caption + thead tr:first-child th,
.post-content table caption + thead tr:first-child td,
.post-content table colgroup + thead tr:first-child th,
.post-content table colgroup + thead tr:first-child td,
.post-content table thead:first-child tr:first-child th,
.post-content table thead:first-child tr:first-child td {
    border-top: 0;
}

.post-content table tbody + tbody {
    border-top: #EFEFEF 2px solid;
}

.post-content table table table {
    background-color: #FFF;
}

.post-content table tbody > tr:nth-child(odd) > td,
.post-content table tbody > tr:nth-child(odd) > th {
    background-color: #F6F6F6;
}

.table-responsive {
    overflow-x: auto;
    width: 100%;
}
.table-responsive table {
    width: 100%;
    border-collapse: collapse;
}

svg .precip-axis > g > text {
    fill: #777777;
}

svg .precip-axis > g > line {
    stroke: #777777;
}

.fancy-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.fancy-link:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.tj {
    text-align:justify;
}

.top-4{
    top: 4em;
}

.mw6-5{
    max-width: 40rem;
}

@media screen and (min-width: 30em) {
    .w-55-ns {
        width: 55%;
    }
    .w-45-ns {
        width: 45%;
    }
}

.hero__no-cover {
    clip-path: polygon(0 0%, 100% 100%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 0%, 100% 100%, 100% 100%, 0 100%);
}

.hero__seperator {
    clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
}

header.post-cover {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.cutthroat-cover {
    background-image: url(/assets/images/covers/cutthroat.jpg);
}

.bugaboos-cover {
    background-image: url(/assets/images/covers/bugaboos.jpg);
}

.big-kangaroo-cover {
    background-image: url(/assets/images/covers/big-kangaroo.jpg);
}

.vesper-peak-cover {
    background-image: url(/assets/images/covers/vesper-peak.jpg);
}

.la-valee-blanche-cover {
    background-image: url(/assets/images/covers/la-valee-blanche.jpg);
}

.wbiad-cover {
    background-image: url(/assets/images/covers/wbiad.jpg);
}

.table-mountain-circumnav-cover {
    background-image: url(/assets/images/covers/table-mountain-circumnav.jpg);
}

.body-bag-bowl-cover {
    background-image: url(/assets/images/covers/circle-lake.jpg);
}

.easy-getaway-cover {
    background-image: url(/assets/images/covers/easy-getaway.jpg);
}

.kendall-knob-cover {
    background-image: url(/assets/images/covers/kendall-knob.jpg);
}

.paradise-glacier-cover {
    background-image: url(/assets/images/covers/paradise-glacier.jpg);
}

.birthday-ski-tour-cover {
    background-image: url(/assets/images/covers/birthday-ski-tour.jpg);
}

.nisqually-chute-cover {
    background-image: url(/assets/images/covers/nisqually-chute.jpg);
}

.video-peak-cover {
    background-image: url(/assets/images/covers/video-peak.jpg);
}

.corner-pocket-cover {
    background-image: url(/assets/images/covers/corner-pocket.jpg);
}

.sea-kayaking-san-juan-islands-cover {
    background-image: url(/assets/images/covers/sea-kayaking-san-juan-islands.jpg);
}

.excelsior-in-winter-cover {
    background-image: url(/assets/images/covers/excelsior-in-winter.jpg);
}

.the-castle-tour-cover {
    background-image: url(/assets/images/covers/the-castle-tour.jpg);
}

.coastal-kayaking-cover {
    background-image: url(/assets/images/covers/coastal-kayaking.jpg);
}

.devils-dome-cover {
    background-image: url(/assets/images/covers/crater-mountain.jpg);
}

.rock-warrior-cover {
    background-image: url(/assets/images/covers/rock-warrior.jpg);
}

.farmer-of-bits-cover {
    background-image: url(/assets/images/covers/mullen-garden.jpg);
}

@media screen and (min-width: 30em) {
    .h6-ns{
        height: 20em;
    }
    main.post-cover {
        margin-top: -40px;
    }
    .nav-cover {
        box-shadow: none;
        filter: drop-shadow(-1px 6px 3px rgba(50, 50, 49, 0.2));
    }
}

@media only screen and (max-width: 29.9em) {
    .hero__image {
        background-image: none;
        clip-path: polygon(0 0%, 100% 100%, 100% 100%, 0 100%);
        -webkit-clip-path: polygon(0 0%, 100% 100%, 100% 100%, 0 100%);
    }
}

@media only screen and (max-width: 900px) {
    .post-content blockquote {
        margin-left: 0;
    }
    .post-content img, .crag-weather {
        width: 106%;
        max-width: none;
        margin: 0 -3%;
        margin-top: 5px;
    }
    .post-content img.oversized {
        width: 122%;
    }
    .post-content div.highlighter-rouge {
        margin: 1.75em -3em 1.75em -3em;
    }
    .post-content .video.oversized.landscape {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
    }
    .post-content .video.oversized.landscape iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}

/* tippy.js */
.tippy-popper[x-placement^=top] .tippy-tooltip.light-theme .tippy-arrow{border-top:7px solid #fff;border-right:7px solid transparent;border-left:7px solid transparent}.tippy-popper[x-placement^=bottom] .tippy-tooltip.light-theme .tippy-arrow{border-bottom:7px solid #fff;border-right:7px solid transparent;border-left:7px solid transparent}.tippy-popper[x-placement^=left] .tippy-tooltip.light-theme .tippy-arrow{border-left:7px solid #fff;border-top:7px solid transparent;border-bottom:7px solid transparent}.tippy-popper[x-placement^=right] .tippy-tooltip.light-theme .tippy-arrow{border-right:7px solid #fff;border-top:7px solid transparent;border-bottom:7px solid transparent}.tippy-tooltip.light-theme{color:#26323d;box-shadow:0 0 20px 4px rgba(154,161,177,.15),0 4px 80px -8px rgba(36,40,47,.25),0 4px 4px -2px rgba(91,94,105,.15);background-color:#fff}.tippy-tooltip.light-theme .tippy-backdrop{background-color:#fff}.tippy-tooltip.light-theme .tippy-roundarrow{fill:#fff}.tippy-tooltip.light-theme[data-animatefill]{background-color:transparent}
