---
layout: default
title: Home
cover: false
---

<nav class="bg-near-white tr pa4">
    <a class="f6 link dim br2 ba ph3 pv2 mb2 dib silver" href="{{ site.baseurl }}feed.xml">Subscribe</a>
</nav>

<header class="tc pb3 pb4-ns bg-near-white">
    <h1 class="f2 f1-ns fw6 black-70 mt0 mb2">{{ site.name }}</h1>
    <h2 class="f6 black-70 fw2 ttu tracked">
        <a href='{{ site.baseurl }}about.html'> About </a>
    </h2>
</header>

<main>

    {% for post in paginator.posts %}

    <article class="sans-serif center mw7 f5 lh-copy ph3 pt4-ns pt2 pb4-ns pb2">
        <header>
            <h2 class="f1-ns f3 lh-title mv3 sans-serif"><a class="black-70 no-underline" href="{{ post.url }}">{{ post.title }}</a></h2>
        </header>
        <section class="f4-ns f6 fw3 mb3 lh-copy silver">
            <p>
                {{ post.excerpt | strip_html }}
            </p>
        </section>
        <footer class="moon-gray tr f6-ns f7 fw1">
            <time class="fl mr2" datetime="{{ post.date | date: "%Y-%m-%d" }}">
                {{ post.date | date: "%B %d, %Y" }}                                
            </time>
            {% if post.categories.size > 0 %} 
                {{ post.categories | array_to_sentence_string }} 
            {% endif %}
        </footer>
    </article>
    {% endfor %}

    {% include pagination.html %}

</main>
