---
layout: default
title: Home
cover: false
---

<div class="flex relative overflow-hidden {% if page.cover %}h6{% else %}h4{% endif %}">
    <div class="w-100 bg-black-90">
    <nav class="mw7 center flex justify-between">
    <a class="link white hover-white no-underline flex items-center pa3" href="/">
        Jared Dillard
    </a>
    <div class="flex-grow pa3 flex items-center">
        <a class="f6 link dib white dim mr3 mr4-ns" href="/about.html">About</a>
        <a class="f6 link dib white dim mr3 mr4-ns" href="/">Blog</a>
        <a class="f6 dib white bg-animate hover-bg-white hover-black no-underline pv2 ph4 br-pill ba b--white-20" href="/feed.xml"">Subscribe</a>
    </div>
    </nav>
    </div>
  {% if page.cover %}
    <div class="hero__image cover bg-center absolute top-4 left-0 right-0 bottom-0 {{ page.cover }}-cover" id="ParallaxImage"></div>
  {% else %}
    <div class="hero__no-cover h3 absolute top-4 left-0 right-0 bottom-0 bg-lightest-blue" id="ParallaxImage"></div>
  {% endif %}
</div>

<div class="hero__seperator h3 nt5 bg-white"></div>

<main>

    {% for post in paginator.posts %}

    <article class="sans-serif center mw7 f5 lh-copy ph3 pt4-ns pt2 pb4-ns pb2">
        <header>
            <h2 class="f1-ns f3 lh-title mv3 sans-serif"><a class="black-70 no-underline" href="{{ post.url }}">{{ post.title }}</a></h2>
        </header>
        <section class="f4-ns f6 fw3 mb3 lh-copy silver">
            <p>
                {{ post.excerpt | strip_html }}
            </p>
        </section>
        <footer class="moon-gray tr f6-ns f7 fw1-ns fw4">
            <time class="fl mr2" datetime="{{ post.date | date: "%Y-%m-%d" }}">
                {{ post.date | date: "%B %d, %Y" }}                                
            </time>
            {% if post.categories.size > 0 %} 
                {{ post.categories | array_to_sentence_string }} 
            {% endif %}
        </footer>
    </article>
    {% endfor %}

    {% include pagination.html %}

</main>
