<div class="entry">
    {{#each this}}
    <div class="mb4 shadow-5 mh2-ns mh0 pa3 ba bg-white b--light-gray br3">
      <a class="f4 b flex-ns items-center no-underline black-70 hover-light-red" href="{{this.url}}">
        <span class="pv0-ns pv1 lh-copy db">{{this.title}}</span>
      </a>
      <footer class="gray f7 fw1-ns fw4">
           {{#each this.categories}}
           <a class="f7 link dim br2 ph2 mb2 dib white bg-silver" href="/blog/archive.html#{{this}}">{{this}}</a>
           {{/each}}
       </footer>
    </div>
    {{/each}}
</div>
<div class="pa3 tc ba b--light-gray black-70 bg-near-white shadow-5 mb3">
  <a href="/blog" class="b mid-gray">Read More Articles</a>
</div>
