<div class="tw-grid tw-grid-cols-3 tw-gap-y-6 tw-justify-items-center tw-mt-12">
    {{#each this}}
    <a href="{{this.url}}" class="tw-relative tw-inline-block tw-overflow-hidden tw-rounded-lg tw-group">
        <img src="{{this.image}}" class="tw-block tw-p-1 tw-border tw-border-solid tw-border-black/10 tw-transition-all tw-duration-300 group-hover:tw-brightness-50" alt="{{ this.title }}" loading="lazy">
        <div class="tw-absolute tw-inset-0 tw-flex tw-items-center tw-justify-center tw-p-2 tw-opacity-0 group-hover:tw-opacity-100 tw-transition-opacity tw-duration-300">
            <span class="tw-text-white tw-text-center tw-font-bold tw-text-sm tw-leading-tight">{{this.title}}</span>
        </div>
    </a>
    {{/each}}
</div>
<div class="tw-p-3 tw-text-center tw-border tw-border-light-gray tw-text-black/70 tw-bg-near-white tw-shadow-lg tw-mt-3 tw-rounded-lg">
  <a href="/trips" class="tw-font-bold tw-text-mid-gray">Read More Trip Reports</a>
</div>
