<footer class="f7 tc-ns pv4-ns pv3 ph5-ns ph3 black-70 bt b--light-gray bg-near-white lh-copy">
    <p class="tl dib mr4">
        <span class="b">&copy; {{ 'now' | date: "%Y"}}</span><br />
        <a class="no-underline fancy-link relative gray hover-light-red" href="/">{{ site.name }}</a>
    </p>
    <p class="tl dib mr4">
        <span class="b">Social</span><br />
        <a class="no-underline fancy-link relative gray hover-light-red" href="https://www.instagram.com/farmerofbits" rel="noopener">Instagram</a> /
        <a class="no-underline fancy-link relative gray hover-light-red" href="https://github.com/jdillard" rel="noopener">Github</a> /
        <a class="no-underline fancy-link relative gray hover-light-red" href="https://www.bandcamp.com/jdillard/" rel="noopener">Bandcamp</a> /
        <a class="no-underline fancy-link relative gray hover-light-red" href="https://www.mountainproject.com/user/112327545/jared-dillard" rel="noopener">Mountain Project</a>
    </p>

    <p class="tl dib mr4">
        <span class="b">Site</span><br />
        <a class="no-underline fancy-link relative gray hover-light-red" href="/about.html">about</a> /
        <a class="no-underline fancy-link relative gray hover-light-red" href="/blog/">articles</a> /
        <a class="no-underline fancy-link relative gray hover-light-red" href="/crags.html">crags</a> /
        <a class="no-underline fancy-link relative gray hover-light-red" href="/logbook.html">logbook</a> /
        <a class="no-underline fancy-link relative gray hover-light-red" href="/trad.html">trad</a>
    </p>
</footer>
