<div class="flex relative overflow-hidden {% if page.cover %}h6-ns h4{% else %}h4{% endif %}">
    <div class="w-100 bg-black-90">
    <nav class="mw7 center flex justify-between">
    <a class="link baskerville ttu tracked white hover-white no-underline flex items-center pa3" href="/">
        Jared Dillard
    </a>
    <div class="pa3 flex items-center">
        <a class="f6 link dib white dim mr3 mr4-ns" href="/about.html">About</a>
        <a class="f6 link dib white dim mr3 mr4-ns" href="/">Blog</a>
        <a class="f6 link dib white dim mr2" href="https://twitter.com/itslogicwon">{% include svgs/twitter.svg class='fill-white' width='40' height='40' %}</a>
        <a class="f6 link dib white dim mr2" href="https://github.com/jdillard">{% include svgs/github.svg class='fill-white' width='40' height='40' %}</a>
        <a class="f6 link dib white dim" href="https://www.instagram.com/farmerofbits">{% include svgs/instagram.svg class='fill-white' width='40' height='40' %}</a>
    </div>
    </nav>
    </div>
  {% if page.cover %}
    <div class="hero__image cover bg-center absolute top-4 left-0 right-0 bottom-0 {{ page.cover }}-cover" id="ParallaxImage"></div>
  {% else %}
    <div class="hero__no-cover h3 absolute top-4 left-0 right-0 bottom-0 bg-lightest-blue" id="ParallaxImage"></div>
  {% endif %}
</div>