{% if paginator.total_pages > 1 %}
<nav class="f5-ns f6 center flex items-stretch justify-between mw7 gray bl br bt b--light-gray" aria-label="Pagination Navigation">
    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
            <a class="flex items-center ph5-ns ph3 pv4 link gray hover-bg-light-red hover-white br b--light-gray" href="/" title="Newer articles">Newer articles</a>
        {% else %}
            <a class="flex items-center ph5-ns ph3 pv4 link gray hover-bg-light-red hover-white br b--light-gray" href="/page{{ paginator.previous_page }}/" title="Newer articles">Newer articles</a>
      {% endif %}
      {% else %}
        <span class="flex items-center ph5-ns ph3 pv4 white" href="/page{{ paginator.previous_page }}/" title="Newer articles">Newer articles</span>
    {% endif %}
    <span class="flex items-center ph4-ns ph3 pv4">Page {{paginator.page}} of {{paginator.total_pages}}</span>
    {% if paginator.next_page %} 
        <a class="flex items-center ph5-ns ph3 pv4 link gray hover-bg-light-red hover-white bl b--light-gray" href="/page{{ paginator.next_page }}/" title="Older articles">Older articles</a>
    {% else %}
        <span class="flex items-center ph5-ns ph3 pv4 white" href="/page{{ paginator.previous_page }}/" title="Older articles">Older articles</span>
    {% endif %} 
</nav>
{% endif %}
