<nav class="center mw7 pv5 tc light-silver" role="navigation" aria-label="Pagination Navigation">
    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
            <a class="newer-posts" href="/" title="Previous Page">&laquo; Newer Posts</a>
        {% else %}
            <a class="newer-posts" href="/page{{ paginator.previous_page }}/" title="Previous Page">&laquo; Newer Posts</a>
      {% endif %}
    {% endif %}
    Page {{paginator.page}} of {{paginator.total_pages}}
    {% if paginator.next_page %} 
        <a class="older-posts" href="/page{{ paginator.next_page }}/" title="Next Page">Older Posts &raquo;</a>
    {% endif %} 
</nav>
