---
layout: default
cover: false
---

{% if page.title_override %}
  {% assign title = page.title_override %}
{% else %}
  {% assign title = page.title %}
{% endif %}

<main>
  <article style="box-shadow: 0px 15px 17px rgb(50 50 50 / 26%);" class="avenir tw-p-2 {% if page.tool == 'avy' %}tw-max-w-5xl{% else %}tw-max-w-4xl{% endif %} tw-mx-auto tw-text-black/70 tw-bg-white tw-border-solid tw-border-x tw-border-y-0 tw-border-near-white">
    <header>
      <h1 class="ns:tw-text-5xl tw-text-2xl tw-mx-auto tw-text-center tw-max-w-5xl tw-mt-8 tw-mb-4 tw-text-black/70 tw-font-athelas">{{ title }}</h1>
      <hr class="tw-max-w-xs tw-p-0 tw-border-0 tw-border-t tw-border-solid tw-border-light-red tw-text-light-red tw-bg-light-red">
    </header>
    {{content}}
  </article>
</main>
