---
layout: default
post_class: post-template
js_includes:
  - post.js
---

<main {% if page.cover %}class="post-cover"{% endif %}>
    <article style="box-shadow: 0px 15px 17px rgb(50 50 50 / 26%);" class="avenir pa2 center mw8 bg-white black-70 br bl b--near-white">
        <header>
            <h1 class="f1-ns f3 center tc mw8 mt5-ns mt4 mb4 black-70 athelas lh-title avenir">{{ page.title }}</h1>
            <div class="f5-ns f7 center mw6-5 mh1 ph2 pv1 tr sans-serif lh-copy gray">
                <a class="fl no-underline fancy-link relative gray hover-light-red" href="https://github.com/jdillard/personal-site/commits/master/source/{{ page.path }}" target="_blank" rel="noopener"><time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date: "%B %d, %Y" }}</time></a>
                {% if page.categories.size > 0 %}
                    {% for category in page.categories %}
                        <a data-proofer-ignore class="no-underline fancy-link relative gray hover-light-red" href="/blog/archive.html#{{ category | slugify }}">{{ category }}</a>{% unless forloop.last %} / {% endunless %}
                    {% endfor %}
                {% endif %}
            </div>
        </header>
        <section class="post-content f5 center mw6-5 lh-copy mt3 pb4 pt2 bt-ns b--light-gray">
            {{ content | markdownify | wrap_tables }}

            {% include feedback.html %}
        </section>
    </article>
    <section style="box-shadow: 0px 15px 17px rgb(50 50 50 / 26%);" class="center mw8 bg-white ph2 br bl b--near-white">
        <hr class="mw6-ns mw5 mv0 p0 b0 bt bw1 b--light-red light-red bg-light-red">
        <div style="max-width: 56rem;" class="center pv3 ph2">
            <div class="mt3 b tc f2-ns f4 black-70">Related Articles</div>
            <div id="articles" data-article="{{ page.title }}" data-type="{{ page.type }}"></div>
        </div>
    </section>
    {% include comments.html %}
</main>

<div id="wiki-template" style="display: none;">
    Loading wikipedia summary...
</div>
