---
layout: default
post_class: post-template
js_includes:
  - post.js
---

<main {% if page.cover %}class="post-cover"{% endif %}>
    <article style="box-shadow: 0px 15px 17px rgb(50 50 50 / 26%);" class="avenir tw-p-2 tw-mx-auto tw-max-w-5xl tw-bg-white tw-text-black/70 tw-border-solid tw-border-x tw-border-y-0 tw-border-near-white">
        <header>
            <h1 class="ns:tw-text-5xl tw-text-2xl tw-mx-auto tw-text-center tw-max-w-5xl ns:tw-mt-20 tw-mt-8 tw-mb-8 tw-text-black/70 tw-font-athelas !tw-leading-snug avenir">{{ page.title }}</h1>
            <div class="ns:tw-text-base tw-text-xs tw-mx-auto tw-max-w-6-5 tw-mx-1 tw-px-2 tw-py-1 tw-text-right tw-font-sans tw-leading-normal tw-text-gray">
                <a class="tw-float-left tw-no-underline fancy-link tw-relative tw-text-gray hover:tw-text-light-red" href="https://github.com/jdillard/personal-site/commits/master/source/{{ page.path }}" target="_blank" rel="noopener"><time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date: "%B %d, %Y" }}</time></a>
                {% if page.categories.size > 0 %}
                    {% for category in page.categories %}
                        <a data-proofer-ignore class="tw-no-underline fancy-link tw-relative tw-text-gray hover:tw-text-light-red" href="/blog/archive.html#{{ category | slugify }}">{{ category }}</a>{% unless forloop.last %} / {% endunless %}
                    {% endfor %}
                {% endif %}
            </div>
        </header>
        <section class="post-content tw-text-base tw-mx-auto tw-max-w-6-5 tw-leading-normal tw-mt-4 tw-pb-8 tw-pt-2 tw-border-0 ns:tw-border-t tw-border-solid tw-border-light-gray">
            {{ content | markdownify | wrap_tables }}
        </section>
    </article>
    <section style="box-shadow: 0px 15px 17px rgb(50 50 50 / 26%);" class="tw-mx-auto tw-max-w-5xl tw-bg-white tw-px-2 tw-border-solid tw-border-x tw-border-y-0 tw-border-near-white">
        <hr class="ns:tw-max-w-2xl tw-max-w-xl tw-my-0 tw-p-0 tw-border-0 tw-border-t tw-border-solid tw-border-light-red tw-text-light-red tw-bg-light-red">
        <div style="max-width: 56rem;" class="tw-mx-auto tw-py-4 tw-px-2">
            <div class="tw-mt-4 tw-font-bold tw-text-center ns:tw-text-4xl tw-text-xl tw-text-black/70">Related Articles</div>
            <div id="articles" data-article="{{ page.title }}" data-type="{{ page.type }}"></div>
        </div>
    </section>
    {% include comments.html %}
</main>

<div id="wiki-template" style="display: none;">
    Loading wikipedia summary...
</div>
