---
layout: default
post_class: post-template
js_includes:
  - trip.js
---

<main {% if page.cover %}class="post-cover"{% endif %}>
    <article class="avenir pa2 center mw7 bg-white black-70 br bl b--near-white">
        <header>
            <h1 class="f2-ns f3 center tc mw7 mv5-ns mv4 black-70 athelas lh-title avenir">{{ page.title }}</h1>
            <div class="f6-ns f7 center mw6-5 mh1 ph2 pv1 tr sans-serif lh-copy gray">
                <a class="fl no-underline fancy-link relative gray hover-light-red" href="https://github.com/jdillard/personal-site/commits/master/source/{{ page.path }}" target="_blank" rel="noopener"><time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date: "%B %d, %Y" }}</time></a>
                {% if page.categories.size > 0 %}
                    {% for category in page.categories %}
                        <a data-proofer-ignore class="no-underline fancy-link relative gray hover-light-red" href="/trips/archive.html#{{ category | slugify }}">{{ category }}</a>{% unless forloop.last %} / {% endunless %}
                    {% endfor %}
                {% endif %}
            </div>
        </header>
        <section class="post-content f5 center mw6-5 lh-copy mt3 pb4 pt2 bt-ns b--light-gray">
            {{content}}

            {% include feedback.html %}
        </section>
    </article>
    <section class="center mw7 bg-white ph2 br bl b--near-white">
        <hr class="mw6-ns mw5 mv0 p0 b0 bt bw1 b--light-red light-red bg-light-red">
        <div class="center pv3 ph4 br2 bg-light-gray shadow-5" style="margin: 20px -40px">
            <div class="mt3 b f3-ns f4-ns f5 black-70">Ways to Get Involved In This Area</div>
            <p class="lh-copy f6 black-70">
                Here are organizations that need help to make sure the beauty and
                abundance is still there the next time you visit. For more information,
                see the <a class="no-underline fancy-link relative light-red
                hover-light-red" href="/get-involved"> Get Involved</a> section.
            </p>
            <div id="resources" data-state="{{ page.state }}" data-type="{{ page.type }}"></div>
        </div>
    </section>
    <section class="center mw7 bg-white ph2 br bl b--near-white">
        <hr class="mw6-ns mw5 mv0 p0 b0 bt bw1 b--light-red light-red bg-light-red">
        <div class="mw6-5 center pv3 ph2">
            <div class="mt4 b f3-ns f4-ns f5 black-70">Recent Trips</div>
            <ul class="list pl0">
                {% assign sorted = (site.trips | sort: 'date') | reverse %}
                {% for post in sorted limit:5 %}
                {% if post.title != page.title %}
                <li class="pv2 f5">
                    <a class="flex-ns items-center no-underline black-70 hover-light-red" href="{{ post.url }}">
                        <time class="f6 gray db nowrap mr3"> {{ post.date | date: "%b %d, %Y" }}</time>
                        <span class="pv0-ns pv1 db">{{ post.title }}</span>
                    </a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </section>
</main>
