/*
 *  Change this file for any custom CSS.
 */

// We need to add display:inline in order to align the '>>' of the 'read more' link 
.post-excerpt p {
	display:inline;
}

header.no-cover nav.main-nav.clearfix {
    margin-bottom: 0;
}

header .chevron {
    display: block;
    background: url(/assets/images/chevron.png) no-repeat center bottom;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    width: 100%;
    height: 15%;
    bottom: 0px;
    z-index: 100;
    line-height: 1;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax"
;
