<div class="comment f6 flex flex-row">
  <div class="dn db-ns mr3">
    <a href="https://github.com/jdillard" target="_blank">
        <img class="br2 mw3" src="https://avatars.githubusercontent.com/u/3474095?v=4"/>
    </a>
  </div>
  <div class="flex relative flex-column ba b--light-gray br1 mb3 w-100">
    <div class="f6 ph3 pv2 bg-near-white bb b--light-gray gray">
        <a href="https://github.com/jdillard" target="_blank" class="mid-gray b link">jdillard</a> commented on
        <a href="https://github.com/jdillard/blog-comments/issues/9#issuecomment-633769819" target="_blank" class="gray link">
            <relative-time datetime="1590458536">
               May 26, 2020
            </relative-time>
        </a>&nbsp;(edited)
    </div>
    <div class="body pv2 ph3 black-70">
      <p>Feel free to leave a comment below to test out the system!</p>

<p>Here are some examples of supported <a href="https://github.github.com/gfm/">GitHub Flavored Markdown</a> with <strong>strong words</strong>, <em>italic words</em>, and <code>inline words</code>.</p>

<blockquote>
  <p>Maybe a block quote</p>
</blockquote>

<div class="language-ruby highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="c1"># Code block</span>

<span class="nb">puts</span> <span class="s2">"This is a ruby code block"</span>
</code></pre></div></div>

<pre><code>This is just
A basic code block
That is multiple
Lines of text
</code></pre>

<ul>
  <li>Unordered item 1</li>
  <li>Unordered item 2</li>
  <li>Unordered item 3</li>
</ul>

<ol>
  <li>Ordered item 1</li>
  <li>Ordered item 2</li>
  <li>Ordered item 3</li>
</ol>

<ul class="task-list">
  <li class="task-list-item"><input type="checkbox" class="task-list-item-checkbox" disabled="disabled" checked="checked" />Checklist item 1</li>
  <li class="task-list-item"><input type="checkbox" class="task-list-item-checkbox" disabled="disabled" />Checklist item 2</li>
  <li class="task-list-item"><input type="checkbox" class="task-list-item-checkbox" disabled="disabled" />Checklist item 3</li>
</ul>

    </div>
    <div class="bt b--light-gray gray">
      <ul class="flex flex-wrap pl0 mv0 list">
        <li class="pv2 ph3 br b--light-gray">
          <g-emoji alias="+1" fallback-src="https://assets-cdn.github.com/images/icons/emoji/unicode/1f44d.png" class="v-mid">
            <img class="v-mid" alt="+1" height="20" width="20" src="https://github.githubassets.com/images/icons/emoji/unicode/1f44d.png">
          </g-emoji>3
        </li>
        <li class="pv2 ph3 br b--light-gray">
          <g-emoji alias="heart" fallback-src="https://assets-cdn.github.com/images/icons/emoji/unicode/2764.png" class="v-mid">
            <img class="v-mid" alt="heart" height="20" width="20" src="https://github.githubassets.com/images/icons/emoji/unicode/2764.png">
          </g-emoji>1
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="comment f6 flex flex-row">
  <div class="dn db-ns mr3">
    <a href="https://github.com/dc25" target="_blank">
        <img class="br2 mw3" src="https://avatars.githubusercontent.com/u/1620?v=4"/>
    </a>
  </div>
  <div class="flex relative flex-column ba b--light-gray br1 mb3 w-100">
    <div class="f6 ph3 pv2 bg-near-white bb b--light-gray gray">
        <a href="https://github.com/dc25" target="_blank" class="mid-gray b link">dc25</a> commented on
        <a href="https://github.com/jdillard/blog-comments/issues/9#issuecomment-635083762" target="_blank" class="gray link">
            <relative-time datetime="1590638561">
               May 28, 2020
            </relative-time>
        </a>&nbsp;
    </div>
    <div class="body pv2 ph3 black-70">
      <p>Testing <br />
<img src="https://user-images.githubusercontent.com/1620/43170803-d9637b90-8f5b-11e8-8e1b-a5569b67d1a0.gif" alt="airplane" /></p>

    </div>
    <div class="bt b--light-gray gray">
      <ul class="flex flex-wrap pl0 mv0 list">
        <li class="pv2 ph3 br b--light-gray">
          <g-emoji alias="rocket" fallback-src="https://assets-cdn.github.com/images/icons/emoji/unicode/1f680.png" class="v-mid">
            <img class="v-mid" alt="rocket" height="20" width="20" src="https://github.githubassets.com/images/icons/emoji/unicode/1f680.png">
          </g-emoji>1
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="comment f6 flex flex-row">
  <div class="dn db-ns mr3">
    <a href="https://github.com/c33s" target="_blank">
        <img class="br2 mw3" src="https://avatars.githubusercontent.com/u/649209?v=4"/>
    </a>
  </div>
  <div class="flex relative flex-column ba b--light-gray br1 mb3 w-100">
    <div class="f6 ph3 pv2 bg-near-white bb b--light-gray gray">
        <a href="https://github.com/c33s" target="_blank" class="mid-gray b link">c33s</a> commented on
        <a href="https://github.com/jdillard/blog-comments/issues/9#issuecomment-743326753" target="_blank" class="gray link">
            <relative-time datetime="1607707925">
               December 11, 2020
            </relative-time>
        </a>&nbsp;
    </div>
    <div class="body pv2 ph3 black-70">
      <p>really love it :)</p>

    </div>
    <div class="bt b--light-gray gray">
      <ul class="flex flex-wrap pl0 mv0 list">
      </ul>
    </div>
  </div>
</div>
<div class="comment f6 flex flex-row">
  <div class="dn db-ns mr3">
    <a href="https://github.com/webknjaz" target="_blank">
        <img class="br2 mw3" src="https://avatars.githubusercontent.com/u/578543?v=4"/>
    </a>
  </div>
  <div class="flex relative flex-column ba b--light-gray br1 mb3 w-100">
    <div class="f6 ph3 pv2 bg-near-white bb b--light-gray gray">
        <a href="https://github.com/webknjaz" target="_blank" class="mid-gray b link">webknjaz</a> commented on
        <a href="https://github.com/jdillard/blog-comments/issues/9#issuecomment-823567259" target="_blank" class="gray link">
            <relative-time datetime="1618949289">
               April 20, 2021
            </relative-time>
        </a>&nbsp;
    </div>
    <div class="body pv2 ph3 black-70">
      <p>This is a nice idea! I wonder, though, if GitHub Discussions would be a better fit for this sort of integration…</p>

    </div>
    <div class="bt b--light-gray gray">
      <ul class="flex flex-wrap pl0 mv0 list">
        <li class="pv2 ph3 br b--light-gray">
          <g-emoji alias="heart" fallback-src="https://assets-cdn.github.com/images/icons/emoji/unicode/2764.png" class="v-mid">
            <img class="v-mid" alt="heart" height="20" width="20" src="https://github.githubassets.com/images/icons/emoji/unicode/2764.png">
          </g-emoji>1
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="comment f6 flex flex-row">
  <div class="dn db-ns mr3">
    <a href="https://github.com/jdillard" target="_blank">
        <img class="br2 mw3" src="https://avatars.githubusercontent.com/u/3474095?v=4"/>
    </a>
  </div>
  <div class="flex relative flex-column ba b--light-gray br1 mb3 w-100">
    <div class="f6 ph3 pv2 bg-near-white bb b--light-gray gray">
        <a href="https://github.com/jdillard" target="_blank" class="mid-gray b link">jdillard</a> commented on
        <a href="https://github.com/jdillard/blog-comments/issues/9#issuecomment-823577251" target="_blank" class="gray link">
            <relative-time datetime="1618950332">
               April 20, 2021
            </relative-time>
        </a>&nbsp;
    </div>
    <div class="body pv2 ph3 black-70">
      <p>Possibly! I didn’t have a lot of experience using GitHub Discussions at the time, but it is definitely worth looking into. It could potentially be a clean way to keep things in the same repo as the main website.</p>

    </div>
    <div class="bt b--light-gray gray">
      <ul class="flex flex-wrap pl0 mv0 list">
      </ul>
    </div>
  </div>
</div>
<div class="comment f6 flex flex-row">
  <div class="dn db-ns mr3">
    <a href="https://github.com/webknjaz" target="_blank">
        <img class="br2 mw3" src="https://avatars.githubusercontent.com/u/578543?v=4"/>
    </a>
  </div>
  <div class="flex relative flex-column ba b--light-gray br1 mb3 w-100">
    <div class="f6 ph3 pv2 bg-near-white bb b--light-gray gray">
        <a href="https://github.com/webknjaz" target="_blank" class="mid-gray b link">webknjaz</a> commented on
        <a href="https://github.com/jdillard/blog-comments/issues/9#issuecomment-823584630" target="_blank" class="gray link">
            <relative-time datetime="1618951074">
               April 20, 2021
            </relative-time>
        </a>&nbsp;
    </div>
    <div class="body pv2 ph3 black-70">
      <p>Yep, I was surprised that this is a separate repo.</p>

    </div>
    <div class="bt b--light-gray gray">
      <ul class="flex flex-wrap pl0 mv0 list">
      </ul>
    </div>
  </div>
</div>
<div class="comment f6 flex flex-row">
  <div class="dn db-ns mr3">
    <a href="https://github.com/jdillard" target="_blank">
        <img class="br2 mw3" src="https://avatars.githubusercontent.com/u/3474095?v=4"/>
    </a>
  </div>
  <div class="flex relative flex-column ba b--light-gray br1 mb3 w-100">
    <div class="f6 ph3 pv2 bg-near-white bb b--light-gray gray">
        <a href="https://github.com/jdillard" target="_blank" class="mid-gray b link">jdillard</a> commented on
        <a href="https://github.com/jdillard/blog-comments/issues/9#issuecomment-823599307" target="_blank" class="gray link">
            <relative-time datetime="1618952635">
               April 20, 2021
            </relative-time>
        </a>&nbsp;(edited)
    </div>
    <div class="body pv2 ph3 black-70">
      <p>I think I was playing it safe at the time, since it was uncharted territory for me. If I did it again I would look into adding a label so that the issues could possibly be filtered out, for example <code>is:open is:issue -label:blog-comments</code>, making triage of the main repo easier.</p>

<p>edit: I remember now, it’s because I didn’t want any issue comment to cause a rebuild of the site (limited build minutes on the free plan). I need to look in to if you can filter the GitHub action triggers beyond just <code>issue_comment</code>.</p>

    </div>
    <div class="bt b--light-gray gray">
      <ul class="flex flex-wrap pl0 mv0 list">
        <li class="pv2 ph3 br b--light-gray">
          <g-emoji alias="+1" fallback-src="https://assets-cdn.github.com/images/icons/emoji/unicode/1f44d.png" class="v-mid">
            <img class="v-mid" alt="+1" height="20" width="20" src="https://github.githubassets.com/images/icons/emoji/unicode/1f44d.png">
          </g-emoji>1
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="comment f6 flex flex-row">
  <div class="dn db-ns mr3">
    <a href="https://github.com/nitingupta910" target="_blank">
        <img class="br2 mw3" src="https://avatars.githubusercontent.com/u/1069854?v=4"/>
    </a>
  </div>
  <div class="flex relative flex-column ba b--light-gray br1 mb3 w-100">
    <div class="f6 ph3 pv2 bg-near-white bb b--light-gray gray">
        <a href="https://github.com/nitingupta910" target="_blank" class="mid-gray b link">nitingupta910</a> commented on
        <a href="https://github.com/jdillard/blog-comments/issues/9#issuecomment-840173893" target="_blank" class="gray link">
            <relative-time datetime="1620863230">
               May 12, 2021
            </relative-time>
        </a>&nbsp;
    </div>
    <div class="body pv2 ph3 black-70">
      <p>testing2</p>

    </div>
    <div class="bt b--light-gray gray">
      <ul class="flex flex-wrap pl0 mv0 list">
        <li class="pv2 ph3 br b--light-gray">
          <g-emoji alias="rocket" fallback-src="https://assets-cdn.github.com/images/icons/emoji/unicode/1f680.png" class="v-mid">
            <img class="v-mid" alt="rocket" height="20" width="20" src="https://github.githubassets.com/images/icons/emoji/unicode/1f680.png">
          </g-emoji>1
        </li>
        <li class="pv2 ph3 br b--light-gray">
          <g-emoji alias="smile" fallback-src="https://assets-cdn.github.com/images/icons/emoji/unicode/1f604.png" class="v-mid">
            <img class="v-mid" alt="smile" height="20" width="20" src="https://github.githubassets.com/images/icons/emoji/unicode/1f604.png">
          </g-emoji>1
        </li>
        <li class="pv2 ph3 br b--light-gray">
          <g-emoji alias="+1" fallback-src="https://assets-cdn.github.com/images/icons/emoji/unicode/1f44d.png" class="v-mid">
            <img class="v-mid" alt="+1" height="20" width="20" src="https://github.githubassets.com/images/icons/emoji/unicode/1f44d.png">
          </g-emoji>1
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="pa3 tc ba b--light-gray black-70 bg-near-white shadow-5 mb3">
  <a href="https://github.com/jdillard/blog-comments/issues/9#new_comment_field" class="b mid-gray">Join the discussion using GitHub</a>
</div>