---
---

// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "syntax"
;

.top-nav {
    box-shadow:4px 4px 8px 0 rgba(0,0,0,.05);
}


.hover-shadow-5:hover {
    box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.2);
    transition: box-shadow 0.10s ease-out;
}

.hover-b--light-red:hover {
    border-color: #FF725C;
    transition: border-left 0.10s ease-out;
}

.post-content a, .post-content a:visited, .post-content a:active, .post-content a:hover {
    color: #FF725C;
}

.post-content blockquote p a, .post-content blockquote p a:visited, .post-content blockquote p :active {
    color: currentColor;
}

.post-content blockquote {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.75em -2.2em 1.75em -2.2em;
    padding: .1em 2.2em .1em 1.75em;
}

.post-content blockquote p {
     margin: 0.8em 0;
     font-style: italic;
}

.post-content code {
    padding: 1px 3px;
    font-size: 0.85em;
    border: #E3EDF3 1px solid;
    border-radius: 2px;
}

.post-content img {
    width: 126%;
    max-width: none;
    margin: 0 -13%;
    margin-top: 5px;
}

.post-content div.highlighter-rouge {
    margin: 1.75em -5em 1.75em -5em;
    border-radius: 10px;
    box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.2);
}

.post-content pre code, .post-content tt {
    font-size: inherit;
    background: transparent;
    border: none;
    padding: 0;
}

ul.list li a span, .rslide {
    display: block;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

ul.list li:hover a span, .rslide:hover {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}

::selection {
    color:#ffffff;
    background: #FF725C;
}
::-moz-selection {
    color:#ffffff;
    background: #FF725C;
}

.clip-svg {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}

.post-content pre {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0 1.75em 0;
    width: 100% ;
    padding: 2em 5em;
    font-size: 1em;
    overflow: visible;
    border-radius: 10px;
    overflow-x: scroll;
}

.post-content table {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.75em 0;
    width: 100% ;
    max-width: 100% ;
    background-color: transparent;
    border-collapse: collapse;
}

.post-content table th,
.post-content table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: #EFEFEF 1px solid;
}

.post-content table th {
    color: #000;
}

.post-content table caption + thead tr:first-child th,
.post-content table caption + thead tr:first-child td,
.post-content table colgroup + thead tr:first-child th,
.post-content table colgroup + thead tr:first-child td,
.post-content table thead:first-child tr:first-child th,
.post-content table thead:first-child tr:first-child td {
    border-top: 0;
}

.post-content table tbody + tbody {
    border-top: #EFEFEF 2px solid;
}

.post-content table table table {
    background-color: #FFF;
}

.post-content table tbody > tr:nth-child(odd) > td,
.post-content table tbody > tr:nth-child(odd) > th {
    background-color: #F6F6F6;
}

.fancy-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.fancy-link:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.top-4{
    top: 4em;
}

.mw6-5{
    max-width: 40rem;
}

.hero__no-cover {
    clip-path: polygon(0 0%, 100% 100%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 0%, 100% 100%, 100% 100%, 0 100%);
}

.hero__seperator {
    clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
}

header.post-cover {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.coastal-kayaking-cover {
    background-image: url(/assets/images/covers/coastal-kayaking.jpg);
}

.devils-dome-cover {
    background-image: url(/assets/images/covers/crater-mountain.jpg);
}

.rock-warrior-cover {
    background-image: url(/assets/images/covers/rock-warrior.jpg);
}

.farmer-of-bits-cover {
    background-image: url(/assets/images/covers/mullen-garden.jpg);
}

@media screen and (min-width: 30em) {
    .h6-ns{
        height: 20em;
    }
    main.post-cover {
        margin-top: -40px;
    }
    .nav-cover {
        box-shadow: none;
    }
}

@media only screen and (max-width: 29.9em) {
    .hero__image {
        background-image: none;
        clip-path: polygon(0 0%, 100% 100%, 100% 100%, 0 100%);
        -webkit-clip-path: polygon(0 0%, 100% 100%, 100% 100%, 0 100%);
    }
}

@media only screen and (max-width: 900px) {
    .post-content blockquote {
        margin-left: 0;
    }
}
