---
---

// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "syntax"
;

.post-content a {
    color: rgba(0,0,0,.7);
}

blockquote {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.75em -2.2em 1.75em -2.2em;
    padding: .1em 2.2em .1em 1.75em;
    background-color: #f4f4f4;
    border-left: rgba(0,0,0,.7) 0.4em solid;
}

blockquote p {                                                                  
     margin: 0.8em 0;                                                            
     font-style: italic;                                                         
} 

code {
    padding: 1px 3px;
    font-family: Inconsolata, monospace, sans-serif;
    font-size: 0.85em;
    white-space: pre-wrap;
    border: #E3EDF3 1px solid;
    background: #F7FAFB;
    border-radius: 2px;
}

.post-content img {
    width: 126%;
    max-width: none;
    margin: 0 -13%;
}

pre code, tt {
    font-size: inherit;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
    background: transparent;
    border: none;
    padding: 0;
}

pre {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0 1.75em 0;
    border: #E3EDF3 1px solid;
    width: 100% ;
    padding: 10px;
    font-family: Inconsolata, monospace, sans-serif;
    font-size: 0.7em;
    white-space: pre;
    overflow: auto;
    background: #F7FAFB;
    border-radius: 3px;
}

.top-4{
    top: 4em;
}

.mw6-5{
    max-width: 40rem;
}

.hero__no-cover {
    clip-path: polygon(0 0%, 100% 100%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 0%, 100% 100%, 100% 100%, 0 100%);
}

.hero__seperator {
    clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
}

header.post-cover {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.devils-dome-cover {
    background-image: url(/assets/images/covers/crater-mountain.jpg);
}

.rock-warrior-cover {
    background-image: url(/assets/images/covers/rock-warrior.jpg);
}

.farmer-of-bits-cover {
    background-image: url(/assets/images/covers/mullen-garden.jpg);
}

table {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1.75em 0;
    width: 100% ;
    max-width: 100% ;
    background-color: transparent;
    border-collapse: collapse;
}

table th,
table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: #EFEFEF 1px solid;
}

table th {
    color: #000;
}

table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
    border-top: 0;
}

table tbody + tbody {
    border-top: #EFEFEF 2px solid;
}

table table table {
    background-color: #FFF;
}

table tbody > tr:nth-child(odd) > td,
table tbody > tr:nth-child(odd) > th {
    background-color: #F6F6F6;
}

@media screen and (min-width: 30em) {
    .h6-ns{
        height: 20em;
    }
}

@media only screen and (max-width: 29.9em) {
    .hero__image {
        background-image: none;
        clip-path: polygon(0 0%, 100% 100%, 100% 100%, 0 100%);
        -webkit-clip-path: polygon(0 0%, 100% 100%, 100% 100%, 0 100%);
    }
}

@media only screen and (max-width: 900px) {
    blockquote {
        margin-left: 0;
    }
}
