---
layout: page
title: Trip Reports
description: Recent trips taken by Jared Dillard
cover: false
---

{% assign sorted = (site.trips | sort: 'date') | reverse %}
{% for post in sorted %}

<article style="margin-left: -8px;margin-right: -8px;" class="hide-child tw-font-sans tw-mx-auto tw-text-base tw-leading-normal tw-my-5 ns:tw-pt-3 tw-pt-2 tw-pb-3 hover:tw-bg-near-white tw-border-0 tw-border-l-4 tw-border-solid tw-border-white hover:tw-border-light-red">
    <div style="margin-left: -50px;width: 25%;" class="grow tw-float-left ns:tw-pr-3 ns:tw-block tw-hidden tw-mb-4 ns:tw-mb-0 tw-w-full">
        <a href="{{ post.url }}">
            <img src="{{ post.image.path }}" class="tw-block tw-shadow-lg tw-rounded-lg" alt="{{ post.title }}" loading="lazy">
        </a>
    </div>
    <div class="tw-float-right ns:tw-w-4/5 tw-px-3 ns:tw-px-0">
        <header>
            <h2 class="ns:tw-text-3xl tw-text-xl tw-leading-tight tw-mb-3 tw-mt-2 tw-font-sans"><a class="tw-text-black/70 hover:tw-text-light-red tw-no-underline" href="{{ post.url }}">{{ post.title }}</a></h2>
        </header>
        <section class="tw-text-justify ns:tw-text-base tw-text-sm tw-font-light tw-pr-4 tw-mb-3 tw-leading-normal tw-text-mid-gray">
            <p>{{ post.excerpt | strip_html }}</p>
        </section>
        <footer class="tw-text-gray tw-text-xs tw-font-normal tw-flex tw-items-center tw-justify-between">
            <div>
                <time class="tw-mr-2" datetime="{{ post.date | date: "%Y-%m-%d" }}">
                    {{ post.date | date: "%B %d, %Y" }}
                </time>
                {% for category in post.categories %}
                <a class="link dim tw-text-xs tw-rounded tw-px-2 tw-mb-2 tw-hidden ns:tw-inline-block tw-text-white tw-bg-silver" href="/trips/archive.html#{{ category }}">{{ category }}</a>
                {% endfor %}
            </div>
            <!--show Read More link/button on parent hover-->
            <a class="child grow tw-rounded-full tw-font-bold tw-text-light-red hover:tw-text-white hover:tw-bg-light-red tw-no-underline tw-border tw-border-solid tw-border-current tw-py-1 tw-px-3 tw-inline-flex tw-items-center tw-mr-3" href="{{ post.url }}">
                Read More
                <svg class="tw-w-4" data-icon="chevronRight" viewBox="0 0 32 32" style="fill:currentcolor">
                    <title>chevronRight icon</title>
                    <path d="M12 1 L26 16 L12 31 L8 27 L18 16 L8 5 z"></path>
                </svg>
            </a>
        </footer>
    </div>
    <div class="tw-clear-both"></div>
</article>
{% endfor %}

<p class="tw-mx-auto tw-text-center">
    <a class="link dim tw-text-sm ns:tw-px-4 tw-px-3 ns:tw-py-3 tw-py-2 tw-mb-2 tw-inline-block tw-text-white tw-bg-light-red" href="/trips/archive.html">View Archive</a>
</p>
