---
layout: page
title: {{ region }} DEM Shading
description: Create a digital log book with a filterable route pyramid directly from your Mountain Project ticks to help increase training performance.
js_includes:
  - dem.js
---

<section class="measure center lh-copy f5-ns f6 ph2 mv4" style="text-align: justify;">
<strong>"Is it dry?"</strong>, an oft-repeated, age-old question. Here are real-time,
precipitation-focused reports of current, past, and future climbing weather for crags located in the United States, sourced
from <a class="no-underline fancy-link relative light-red" target="_blank" href="https://www.weather.gov/documentation/services-web-api">weather.gov</a>.
</section>

<p id="settings-toggle" class="mw5 b center tc hover-light-red black-70 pointer">Show Instructions</p>
<section id="settings" class="overflow-hidden" style="display:none;">
    <div class="mv2 ph2 center">
        <div class="fn f6 tc pv2">
            <span class="f7 b">Instructions:</span>
            <p>
                <a class="no-underline fancy-link relative light-red" target="_blank" href="https://gml.noaa.gov/grad/solcalc/">solcalc</a>
                <a class="no-underline fancy-link relative light-red" target="_blank" href="https://training.caltopo.com/all_users/base-layers/custom2#dem">Custom Layers</a>
            </p>
            <p class="measure lh-copy center"><strong>Show/hide crags</strong> by clicking on their name to the left; green mean shown and gray means hidden.</p>
            <hr class="mw5 p0 mv2 o-60 b0 bt b--light-red light-red bg-light-red">
            <p class="measure lh-copy center"><strong>Show/hide hourly forecasts</strong> by clicking the desired day.</p>
            <hr class="mw5 p0 mv2 o-60 b0 bt b--light-red light-red bg-light-red">
            <p class="measure lh-copy center"><strong>Current and Past conditions</strong> are measured by the nearest weather station. <strong>Forecast conditions</strong> are calculated and polled separately.</p>
        </div>
    </div>
</section>

<div class="flex flex-column flex-row-ns">
    <div class="ph3 w-100 w-50-ns">
        <h2 class="tc bb b--moon-gray">Avalanche Report</h2>

        <strong class="f6">Subregion:</strong>
        <select class="f6 ma1 bg-near-white pa2" id="zoneSel">
            {% for zone in zones %}
            <option value="{{ zone.value }}" {% if loop.first %}selected=""{% endif %}>{{ zone.name }}</option>
            {% endfor %}
        </select>

        {% for zone in zones %}
        <div id="{{ zone.value }}" class="avy-zone{% if not loop.first %} dn{% endif %}" data-published="{{ zone.published }}">
            <h3 class="tc">{{ zone.name }} <a href="{{ zone.url }}"><img style="width: 15px;" src="/assets/images/svg/info-icon.svg"></a></h3>
            <dl class="f6">
                <dt><strong>{{ sun_day }} Avalanche Danger</strong></dt>
                <dd>
<pre class="dib pa1 b--silver bw1 ba">
{% for rule in zone.danger %}
{{- rule}}
{% endfor %}</pre>
                    </dd>
                </dt>
            </dl>

            <dl class="f6">
                {% for problem in zone.problems %}
                    <dt><strong>{{ sun_day }} {{ problem.name }}</strong></dt>
                    <dd>
<pre class="dib pa1 b--silver bw1 ba">
{% for rule in problem.rules %}
{{- rule}}
{% endfor %}</pre>
                    </dd>
                {% endfor %}
            </dl>
            <p class="tc f6">
            <strong>Issued:</strong> {{ zones[0].published }}<br />
            <strong>Derived from:</strong> <a class="no-underline fancy-link relative light-red" href="{{ zone.url }}">{{ region }}</a></p>
        </div>
        {% endfor %}
    </div>
    <div class="ph3 w-100 w-50-ns">
        <h2 class="tc bb b--moon-gray">Sunlight Angles</h2>

        <h3 class="tc">Location: {{ sun_loc }}</h3>
        <table class="f6">
            <thead>
                <tr>
                    <th class="pa2">Time of day</th>
                    <th class="pa2">Lighting</th>
                </tr>
            </thead>
            <tbody>
            {% for hill in hillshading %}
            <tr>
                <th class="pv2 ph1">{{ sun_day }} {{ hill.time }} Shade</th>
                <td class="pv2 ph1"><code class="pa1 b--silver bw1 ba language-plaintext highlighter-rouge">{{ hill.lighting }}</code></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<hr id="hr-0" class="mw5 p0 mv4 o-70 b0 bt b--light-red light-red bg-light-red">
<section class="tc lh-copy">
    <h3>Other Regions</h3>
    <strong class="f6">Avalanche Region:</strong>
    <select class="f6 ma1 bg-near-white pa2" id="regionSel">
        {% for region in regions %}
        <option value="{{ region.url }}" selected="">{{ region.name }}</option>
        {% endfor %}
    </select>
</section>

{% raw %}
{% include feedback.html %}
{% endraw %}

<p id="issues-toggle" class="mw5 b center tc hover-light-red black-70 pointer">Show Known Issues</p>
<section id="issues" class="overflow-hidden tc f6">
</section>
