---
layout: page
title: Avalanche DEM Shading
description: Create a digital log book with a filterable route pyramid directly from your Mountain Project ticks to help increase training performance.
---

<!-- Looking out for you. -->

<section class="measure center lh-copy f5-ns f6 ph2 mv4" style="text-align: justify;">
<strong>"Is it dry?"</strong>, an oft-repeated, age-old question. Here are real-time,
precipitation-focused reports of current, past, and future climbing weather for crags located in the United States, sourced
from <a class="no-underline fancy-link relative light-red" target="_blank" href="https://www.weather.gov/documentation/services-web-api">weather.gov</a>.
</section>

<section class="measure center lh-copy f5-ns f6 ph2 mv4">
    <h2 class="bb b--moon-gray">States</h2>

    {% for state in states %}
    {% if state.active %}
    <h3>{{ state.name }}</h3>
    <ul class="list pl3 f6 mt2">
        {% for zone in state.zones %}
        <li><a class="no-underline fancy-link relative black-70 hover-light-red" href="{{ state.page }}.html#zone-{{ zone.slug }}">{{ zone.name }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endfor %}
</section>

{% raw %}
{% include feedback.html %}
{% endraw %}
