---
layout: page
title: Articles
description: Recent articles written by Jared Dillard
cover: false
---

{% for post in site.posts %}

<article class="sans-serif center mw6-5 f5 lh-copy ph3 mv3 pt3-ns pt2 pb3 hide-child hover-bg-near-white bl bw2 b--white hover-b--light-red">
    <header>
        <h2 class="f2-ns f3 lh-title mb3 mt2 sans-serif"><a class="black-70 hover-light-red no-underline" href="{{ post.url }}">{{ post.title }}</a></h2>
    </header>
    <section class="tj f5-ns f6 fw3 mb3 lh-copy mid-gray">
        <p>
            {{ post.excerpt | strip_html }}
        </p>
    </section>
    <footer class="gray f7 fw1-ns fw4 flex items-center justify-between">
        <div>
            <time class="mr2" datetime="{{ post.date | date: "%Y-%m-%d" }}">
            {{ post.date | date: "%B %d, %Y" }}
            </time>
            {% for category in post.categories %}
            <a class="f7 link dim br2 ph2 mb2 dib white bg-silver" href="/blog/archive.html#{{ category }}">{{ category }}</a>
            {% endfor %}
        </div>
        <!--show Read More link/button on parent hover-->
        <a class="br-pill b light-red hover-white hover-bg-light-red no-underline ba grow pv1 ph3 dib inline-flex items-center child mr3" href="{{ post.url }}">
            Read More
            <svg class="w1" data-icon="chevronRight" viewBox="0 0 32 32" style="fill:currentcolor">
                <title>chevronRight icon</title>
                <path d="M12 1 L26 16 L12 31 L8 27 L18 16 L8 5 z"></path>
            </svg>
        </a>
    </footer>
</article>
{% endfor %}

<p class="center tc">
    <a class="f6 link dim ph4-ns ph3 pv3-ns pv2 mb2 dib white bg-light-red" href="/blog/archive.html">View Archive</a>
</p>
