<section style="box-shadow: 0px 15px 17px rgb(50 50 50 / 26%);" class="mw8 bg-white ph2 pb4 br bl b--near-white f6-ns f7 avenir center black-70">
    <div class="w-30 b tc pv2 fl">
        <p class="mt0">Did you enjoy this?</p>
        {% include svgs/thumbs-up.svg width='25' height='25' %} {% include svgs/thumbs-down.svg width='25' height='25' %}
    </div>
    <div class="w-70 pl2 fr ba b--moon-gray br2 bg-near-white shadow-5 pa3">
        <div class="w-30 fl">
            <a href='https://ko-fi.com/C1C51CX9G' target='_blank'><img height='36' style='border:0px;height:36px;' src='/assets/images/kofi3.png' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a>
        </div>
        <div class="w-70 pl2 fr lh-copy">
           If you enjoyed this or found it helpful, please consider buying an espresso to keep the flow going.
        </div>
        <div class="cb"></div>
    </div>
    <div class="cb"></div>
</section>
