<section class="f6-ns f7 avenir mw6-5 center bg-near-white mt4 pa3 ba b--moon-gray br2 black-70">
    <div class="w-30 fl">
        <a href='https://ko-fi.com/C1C51CX9G' target='_blank'><img height='36' style='border:0px;height:36px;' src='https://az743702.vo.msecnd.net/cdn/kofi3.png?v=2' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a>
    </div>
    <div class="w-70 pl2 fr lh-copy">
        If you enjoyed this or found it helpful, please consider buying an espresso to keep the flow going.
    </div>
    <div class="cb"></div>
</section>
