<footer class="tw-text-xs ns:tw-text-center ns:tw-py-8 tw-py-4 ns:tw-px-16 tw-px-4 tw-text-black/70 tw-border-t tw-border-light-gray tw-bg-near-white tw-leading-normal">
    <p class="tw-text-left tw-inline-block tw-mr-8">
        <span class="tw-font-bold">&copy; {{ 'now' | date: "%Y"}}</span><br />
        <a class="tw-no-underline fancy-link tw-relative tw-text-gray hover:tw-text-light-red" href="/about.html">Jared Dillard</a>
    </p>
    <p class="tw-text-left tw-inline-block tw-mr-8">
        <span class="tw-font-bold">Social</span><br />
        <a class="tw-no-underline fancy-link tw-relative tw-text-gray hover:tw-text-light-red" href="https://github.com/jdillard" rel="noopener">Github</a> /
        <a class="tw-no-underline fancy-link tw-relative tw-text-gray hover:tw-text-light-red" href="https://www.linkedin.com/in/jareddillard/" rel="noopener">LinkedIn</a>
    </p>

    <p class="tw-text-left tw-inline-block tw-mr-8">
        <span class="tw-font-bold">Posts</span><br />
        <a class="tw-no-underline fancy-link tw-relative tw-text-gray hover:tw-text-light-red" href="/blog/">articles</a> /
        <a class="tw-no-underline fancy-link tw-relative tw-text-gray hover:tw-text-light-red" href="/trips/">trips</a>
    </p>

    <p class="tw-text-left tw-inline-block tw-mr-8">
        <span class="tw-font-bold">Tools</span><br />
        <a class="tw-no-underline fancy-link tw-relative tw-text-gray hover:tw-text-light-red" href="/crags.html">weather</a> /
        <a class="tw-no-underline fancy-link tw-relative tw-text-gray hover:tw-text-light-red" href="/avy">avy maps</a> /
        <a class="tw-no-underline fancy-link tw-relative tw-text-gray hover:tw-text-light-red" href="/trad.html">trad</a> /
        <a class="tw-no-underline fancy-link tw-relative tw-text-gray hover:tw-text-light-red" href="/taylor.html">taylor dock</a>
    </p>
</footer>
