<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/assets/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="msapplication-config" content="/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" type="text/css" href="/assets/css/tachyons.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/custom.css" />

    {% if page.css_includes %}
      {% for css_file in page.css_includes %}
    <link rel="stylesheet" href="{{ css_file }}">
      {% endfor %}
    {% endif %}

    {% seo %}
</head>
<body class="sans-serif bg-white" {% if page.url != "/" %}style="background-image: url('/assets/images/svg/topography.svg');"{% endif %}>

  {% include header.html %}

    {{ content }}

    {% include footer.html %}

    <script type="text/javascript" src="/assets/js/vendor/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/assets/js/vendor/baffle.min.js"></script>
    <script src="/assets/dist/{{ site.data.asset-manifest['vendor.js'] }}"></script>
    <script src="/assets/dist/{{ site.data.asset-manifest['commons.js'] }}"></script>

    {% if page.js_includes %}
      {% for js_file in page.js_includes %}
        {% assign js_file_origin = js_file | slice: 0, 4 %}
        {% if js_file_origin == "http" %}
            <script src='{{ js_file }}' type="text/javascript"></script>
        {% else %}
            {% if site.data.asset-manifest[js_file] %}
            <script src='/assets/dist/{{ site.data.asset-manifest[js_file] }}' type="text/javascript"></script>
            {% else %}
            <script src='{{ js_file }}?{{ site.time | date: "%m%d" }}' type="text/javascript"></script>
            {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if layout.js_includes %}
      {% for js_file in layout.js_includes %}
          {% assign js_file_origin = js_file | slice: 0, 4 %}
          {% if js_file_origin == "http" %}
              <script src='{{ js_file }}' type="text/javascript"></script>
          {% else %}
            {% if site.data.asset-manifest[js_file] %}
            <script src='/assets/dist/{{ site.data.asset-manifest[js_file] }}' type="text/javascript"></script>
            {% else %}
            <script src='{{ js_file }}?{{ site.time | date: "%m%d" }}' type="text/javascript"></script>
            {% endif %}
          {% endif %}
      {% endfor %}
    {% endif %}

    {% if page.script_include %}
    <script>
      {{ page.script_include }}
    </script>
    {% endif %}

    {% if jekyll.environment == "production" %}
    <!-- Start Google Analytics Tracking code -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');

      ga('require', 'maxScrollTracker', {
        maxScrollMetricIndex: 1,
      });

    </script>
    <script async src='/assets/js/vendor/autotrack.js'></script>
    <!-- End Google Analytics Tracking code -->
    {% endif %}
</body>
</html>
