---
layout: default
post_class: post-template page-template
---

<header class="h3">
    <nav class="pa4">
        <a class="fl f6 link dim br2 ba ph3 pv2 mb2 dib silver" href="/">Home</a>
        <a class="fr f6 link dim br2 ba ph3 pv2 mb2 dib silver" href="/feed.xml">Subscribe</a>
    </nav>
</header>


<main>
    <article class="mw7 center ph2">

        <h1 class="f1-ns f3 lh-title black-70">{{ page.title }}</h1>

        <section class="fw1 f4ns f6 lh-copy">
            {{content}}
        </section>

    </article>

</main>
