---
layout: default
post_class: post-template
---

<main class="mb4">
    <article class="avenir pt2 ph2 black-70">
        <header>
            <h1 class="f1-ns f3 center tc mw7 black-70 athelas lh-title avenir">{{ page.title }}</h1>
            <div class="f6-ns f7 center mw6-5 mh1 ph2 pv1 tr sans-serif lh-copy gray">
                <a class="link gray hover-light-red" href="https://github.com/jdillard/jdillard.github.io/commits/master/{{ page.path }}" target="_blank" rel="noopener"><time class="fl" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date: "%B %d, %Y" }}</time></a>
                {% if page.categories.size > 0 %}
                    {{ page.categories | array_to_sentence_string }}
                {% endif %}
            </div>
        </header>

        <section class="post-content f5 center mw6-5 lh-copy mt3 mb5 pt2 bt-ns b--light-gray">
            {{content}}
        </section>

    </article>

    <footer class="mw6-5 center bt bw1 b--light-red pt3 ph2">

        <div class="mt4 b f3-ns f4-ns f5 black-70">Recent Posts</div>

        <ul class="list pl0">
            {% for post in site.related_posts limit:10 %}
            <li class="pv3-ns pv2 f4-ns f5">
                <a class="flex-ns items-center no-underline black-70 hover-light-red" href="{{ post.url }}">
                    <time class="f5-ns f6 gray db mr3"> {{ post.date | date: "%b %d, %Y" }}</time>
                    <span class="pv0-ns pv1 db">{{ post.title }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>

    </footer>

</main>
