name: Build Site Data
on:
  schedule:
    # Run at 08:15 UTC daily
    # - cron: '*/15 * * * *'
    - cron: '30 8 * * *'

jobs: 
  run:
    name: Build Crag data
    runs-on: ubuntu-latest
    steps: 
    - name: Checkout repo
      uses: actions/checkout@v2

    - name: Set up Ruby
      uses: actions/setup-ruby@v1
      with:
        ruby-version: '2.6'
    
    - name: Run script
      run: ruby crags.rb

    - name: Commit changes
      uses: EndBug/add-and-commit@v5
      with:
        author_name: Jared Dillard
        author_email: jared.dillard+github@gmail.com
        message: "Update built data"
        add: "source/_crags"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
